.footer {
    background: #1f7a8c;;
    color: #e6e6e6;
    padding: 50px 0 20px;
    margin-top: 40px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    gap: 40px;
  }
  
  .footer-section {
    flex: 1;
    min-width: 250px;
  }
  
  .footer-logo {
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  .footer-section h3 {
    margin-bottom: 12px;
    font-size: 18px;
    color: #ffffff;
  }
  
  .footer-section p, 
  .footer-section a {
    font-size: 14px;
    color: #cccccc;
    text-decoration: none;
    line-height: 1.8;
  }
  
  .footer-section a:hover {
    color: #3aa8ff;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section li {
    margin: 6px 0;
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
    margin-top: 15px;
  }
  
  .social-icons a {
    color: #ffffff;
    padding: 8px;
    border-radius: 50%;
    border: 1px solid #3a3a3a;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
  }
  
  .social-icons a:hover {
    border-color: #3aa8ff;
    color: #3aa8ff;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 30px;
    padding-top: 15px;
    border-top: 1px solid #2a2a2a;
    font-size: 14px;
    color: #888888;
  }
  