.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #222;
    padding: 1rem;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  